.card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
}

.card-header {
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
}

.card-body {
    white-space: pre-line;
    color: black;
}